/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*Universal Styling */

@keyframes encircle {
    0%   {border-radius: 0%;
    border-color: rebeccapurple;}
    25%  {border-radius: 33%;
        border-color: darkorange;}
    50%  {border-radius: 66%;
        border-color: forestgreen;}
    100% {border-radius: 100%;
        border-color: blue;}
  }

html{
    background-color: #7137c8ff;
}

.linkbutton {
    display:block;
    background: rgb(177, 124, 212);
    border-radius: 10%;
    text-decoration: none;
    color: white;
    width: 20%;
    padding: 1.2%;
    margin: 1.2% 0;
    text-align: center;
    font-size: 1.8em;
    

}
/* Container Styling */

#container{
    margin: 1% 15% ;
    min-width: 800px;
    max-width: 1600px;
    justify-content: center;
}

/* Header Styling */

header{

}

#header-wrapper{
    background-color:  rgb(247, 255, 245);
    display:flex;
    flex-direction: column; 
    padding-left:2%;
    
    border-radius: 15px 15px 0 0;
}
#logo-title{
    display:flex;
}

#logo{
    margin: 1% 0%;
    width:7%;
    height: auto;
    border-radius:15px;
}

h1 {
    align-self: center;
    font-size:4.2em;
    text-align: right;
    width: 90%;
    height: 10%;
    color:#7137c8ff;
    font-weight: bold;
}
#header-nav {
    display:flex;
    flex-grow: 4;
    justify-content: left;
    background-color: rgb(247, 255, 245);
}

#header-nav a{
    background-color: rgb(177, 124, 212);
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 1% 0%;
    width: 24%;
    font-size:1.3em;

}

#header-nav a:hover{
    transition: 150ms;
    background-color: #7137c8ff;
}
#header-nav .nav-one{
    border-radius:20px 0 0 0;
    background-color: #7137c8ff;
}

#header-nav .nav-four{
    border-radius:0 20px 0 0;

}

/* Body Styling */
#main-section{
    width: 100%;
}

#main-wrapper{
    display:flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    width:100%;
}
#main-wrapper img{
    margin: 0.5% 2%;
    min-height: 220px;
    max-height: 440px;
    width:95%;
    height: auto;
}
#main-txt{
    margin: 1.5%;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background:rgb(240, 227, 207);
    border: 2px solid #7137c8ff;
    border-radius: 30px;
    width:80%;
    padding: 0.5%;

}
h2{
    font-size: 3.0em;;
}

#main-txt p{
    font-size: 1.8em;
    width: 60%;
    text-align: center;
    margin-bottom: 2%;
}

#project-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(247, 255, 245);;
}
#project-wrapper img:hover{
    border: 3px solid lavender;
    animation-name: encircle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#project-wrapper p{
    text-align: center;
}
/* Footer Styling */

footer{
    align-self: stretch;
}

#footer-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-color:  rgb(247, 255, 245);
}
h3{
    font-size: 1.3em;
}
#footer-wrapper button{
    font-size:1.2em;
}
#favicon-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#favicon-wrapper a{
    
    width:1%;
}
#favicon-wrapper a img{
    padding:5%;
    width: 45px;
    height: 45px;
}